//vars globales
//tipografias
$tamañoFuenteEncabezadoPrincipal:2.5rem;
$pesoFuenteEncabezadoPrincipal:500;
$tamañoFuenteParrafoPrincipal:1.5rem;
$pesoFuenteParrafoPrincipal:400;
$tamañoFuenteEncabezadoSecundario:2rem;
$pesoFuenteEncabezadoSecundario:500;
$tamañoFuenteParrafoSecundario:1.3rem;
//colores
$colorFuenteParrafoPrincipal:rgb(56, 56, 56);
$colorContenedoresAmarillos: rgba(233, 233, 13, 0.893);
$colorFondoAcordionApretado:#ffe65469;
$colorFuenteAcordionApretado:#c1ae43de;
$colorBotonAmarillo:#DEC014;
$colorBotonAmarilloHover:#af960d;
$colorBotonEnviarImagenGaleria:rgb(52, 52, 52);
$colorAmarilloBordesFormulario: rgba(173, 176, 2, 0.9);